.width-0p { width: 0% !important; }
.width-1p { width: 1% !important; }
.width-2p { width: 2% !important; }
.width-3p { width: 3% !important; }
.width-4p { width: 4% !important; }
.width-5p { width: 5% !important; }
.width-6p { width: 6% !important; }
.width-7p { width: 7% !important; }
.width-8p { width: 8% !important; }
.width-9p { width: 9% !important; }
.width-10p { width: 10% !important; }
.width-11p { width: 11% !important; }
.width-12p { width: 12% !important; }
.width-13p { width: 13% !important; }
.width-14p { width: 14% !important; }
.width-15p { width: 15% !important; }
.width-16p { width: 16% !important; }
.width-17p { width: 17% !important; }
.width-18p { width: 18% !important; }
.width-19p { width: 19% !important; }
.width-20p { width: 20% !important; }
.width-21p { width: 21% !important; }
.width-22p { width: 22% !important; }
.width-23p { width: 23% !important; }
.width-24p { width: 24% !important; }
.width-25p { width: 25% !important; }
.width-26p { width: 26% !important; }
.width-27p { width: 27% !important; }
.width-28p { width: 28% !important; }
.width-29p { width: 29% !important; }
.width-30p { width: 30% !important; }
.width-31p { width: 31% !important; }
.width-32p { width: 32% !important; }
.width-33p { width: 33% !important; }
.width-34p { width: 34% !important; }
.width-35p { width: 35% !important; }
.width-36p { width: 36% !important; }
.width-37p { width: 37% !important; }
.width-38p { width: 38% !important; }
.width-39p { width: 39% !important; }
.width-40p { width: 40% !important; }
.width-41p { width: 41% !important; }
.width-42p { width: 42% !important; }
.width-43p { width: 43% !important; }
.width-44p { width: 44% !important; }
.width-45p { width: 45% !important; }
.width-46p { width: 46% !important; }
.width-47p { width: 47% !important; }
.width-48p { width: 48% !important; }
.width-49p { width: 49% !important; }
.width-50p { width: 50% !important; }
.width-51p { width: 51% !important; }
.width-52p { width: 52% !important; }
.width-53p { width: 53% !important; }
.width-54p { width: 54% !important; }
.width-55p { width: 55% !important; }
.width-56p { width: 56% !important; }
.width-57p { width: 57% !important; }
.width-58p { width: 58% !important; }
.width-59p { width: 59% !important; }
.width-60p { width: 60% !important; }
.width-61p { width: 61% !important; }
.width-62p { width: 62% !important; }
.width-63p { width: 63% !important; }
.width-64p { width: 64% !important; }
.width-65p { width: 65% !important; }
.width-66p { width: 66% !important; }
.width-67p { width: 67% !important; }
.width-68p { width: 68% !important; }
.width-69p { width: 69% !important; }
.width-70p { width: 70% !important; }
.width-71p { width: 71% !important; }
.width-72p { width: 72% !important; }
.width-73p { width: 73% !important; }
.width-74p { width: 74% !important; }
.width-75p { width: 75% !important; }
.width-76p { width: 76% !important; }
.width-77p { width: 77% !important; }
.width-78p { width: 78% !important; }
.width-79p { width: 79% !important; }
.width-80p { width: 80% !important; }
.width-81p { width: 81% !important; }
.width-82p { width: 82% !important; }
.width-83p { width: 83% !important; }
.width-84p { width: 84% !important; }
.width-85p { width: 85% !important; }
.width-86p { width: 86% !important; }
.width-87p { width: 87% !important; }
.width-88p { width: 88% !important; }
.width-89p { width: 89% !important; }
.width-90p { width: 90% !important; }
.width-91p { width: 91% !important; }
.width-92p { width: 92% !important; }
.width-93p { width: 93% !important; }
.width-94p { width: 94% !important; }
.width-95p { width: 95% !important; }
.width-96p { width: 96% !important; }
.width-97p { width: 97% !important; }
.width-98p { width: 98% !important; }
.width-99p { width: 99% !important; }
.width-100p { width: 100% !important; }
