.width-0rem { width: 0rem !important; }
.width-1rem { width: 1rem !important; }
.width-2rem { width: 2rem !important; }
.width-3rem { width: 3rem !important; }
.width-4rem { width: 4rem !important; }
.width-5rem { width: 5rem !important; }
.width-6rem { width: 6rem !important; }
.width-7rem { width: 7rem !important; }
.width-8rem { width: 8rem !important; }
.width-9rem { width: 9rem !important; }
.width-10rem { width: 10rem !important; }
.width-11rem { width: 11rem !important; }
.width-12rem { width: 12rem !important; }
.width-13rem { width: 13rem !important; }
.width-14rem { width: 14rem !important; }
.width-15rem { width: 15rem !important; }
.width-16rem { width: 16rem !important; }
.width-17rem { width: 17rem !important; }
.width-18rem { width: 18rem !important; }
.width-19rem { width: 19rem !important; }
.width-20rem { width: 20rem !important; }
.width-21rem { width: 21rem !important; }
.width-22rem { width: 22rem !important; }
.width-23rem { width: 23rem !important; }
.width-24rem { width: 24rem !important; }
.width-25rem { width: 25rem !important; }
.width-26rem { width: 26rem !important; }
.width-27rem { width: 27rem !important; }
.width-28rem { width: 28rem !important; }
.width-29rem { width: 29rem !important; }
.width-30rem { width: 30rem !important; }
.width-31rem { width: 31rem !important; }
.width-32rem { width: 32rem !important; }
.width-33rem { width: 33rem !important; }
.width-34rem { width: 34rem !important; }
.width-35rem { width: 35rem !important; }
.width-36rem { width: 36rem !important; }
.width-37rem { width: 37rem !important; }
.width-38rem { width: 38rem !important; }
.width-39rem { width: 39rem !important; }
.width-40rem { width: 40rem !important; }
.width-41rem { width: 41rem !important; }
.width-42rem { width: 42rem !important; }
.width-43rem { width: 43rem !important; }
.width-44rem { width: 44rem !important; }
.width-45rem { width: 45rem !important; }
.width-46rem { width: 46rem !important; }
.width-47rem { width: 47rem !important; }
.width-48rem { width: 48rem !important; }
.width-49rem { width: 49rem !important; }
.width-50rem { width: 50rem !important; }
